html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background: whitesmoke;
  text-align: center;
}

#container {
  *zoom: 1;
  max-width: 24em;
  _width: 24em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
#container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 39em) {
  #container {
    max-width: 39em;
  }
}
@media (min-width: 55em) {
  #container {
    max-width: 59em;
  }
}

.module {
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  padding: 1em;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  margin-bottom: 1em;
  clear: both;
}
.module h1, .module h2, .module h3, .module h4, .module h5, .module h6 {
  font-weight: normal;
  color: #222222;
}
.module h1 img, .module h2 img, .module h3 img, .module h4 img, .module h5 img, .module h6 img {
  margin: 0;
}
.module h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
.module h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
.module h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
.module h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
.module h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
.module h6 {
  font-size: 1em;
  font-weight: bold;
}
.module p {
  margin: 0 0 1.5em;
}
.module p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
.module p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
.module a {
  text-decoration: underline;
  color: #0066cc;
}
.module a:visited {
  color: #004c99;
}
.module a:focus {
  color: #0099ff;
}
.module a:hover {
  color: #0099ff;
}
.module a:active {
  color: #bf00ff;
}
.module blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
.module strong, .module dfn {
  font-weight: bold;
}
.module em, .module dfn {
  font-style: italic;
}
.module sup, .module sub {
  line-height: 0;
}
.module abbr, .module acronym {
  border-bottom: 1px dotted #666666;
}
.module address {
  margin: 0 0 1.5em;
  font-style: italic;
}
.module del {
  color: #666666;
}
.module pre {
  margin: 1.5em 0;
  white-space: pre;
}
.module pre, .module code, .module tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
.module li ul, .module li ol {
  margin: 0;
}
.module ul, .module ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
.module ul {
  list-style-type: disc;
}
.module ol {
  list-style-type: decimal;
}
.module dl {
  margin: 0 0 1.5em 0;
}
.module dl dt {
  font-weight: bold;
}
.module dd {
  margin-left: 1.5em;
}
.module table {
  margin-bottom: 1.4em;
  width: 100%;
}
.module th {
  font-weight: bold;
}
.module thead th {
  background: #c3d9ff;
}
.module th, .module td, .module caption {
  padding: 4px 10px 4px 5px;
}
.module table.striped tr:nth-child(even) td,
.module table tr.even td {
  background: #e5ecf9;
}
.module tfoot {
  font-style: italic;
}
.module caption {
  background: #eeeeee;
}
.module .quiet {
  color: #666666;
}
.module .loud {
  color: #111111;
}
.module img {
  width: 100%;
}
.module h1 {
  font-size: 2em;
}
.module p, .module li, .module ul {
  text-align: left;
}

.naked {
  background: none;
  border: none;
}

header .header_container {
  display: block;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1em;
}
header .logo {
  float: left;
  width: 35%;
  text-align: left;
}
header .logo img {
  width: 100%;
}
header .dropdown {
  margin-top: 1.6em;
  width: 10%;
  float: right;
}
header .dropdown img {
  width: 100%;
}

.menu {
  position: absolute;
  display: none;
  top: 4.5em;
  right: -1em;
}
.menu ul {
  background: #fff;
  padding: 1em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #dedede;
  padding: 1em 3.5em 1em 1em;
}
.menu ul li a {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: left;
  color: #939598;
  padding: .5em;
  display: block;
  text-decoration: none;
}
